<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='img/apple-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='img/favicon.png') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Proxies Center
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- CSS Files -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static',filename='css/now-ui-dashboard.css') }}" rel="stylesheet" />

    <style type="text/css">
        .pass_show {
            position: relative
        }

        .pass_show .ptxt {
            position: absolute;
            top: 50%;
            right: 10px;
            z-index: 1;
            color: #f36c01;
            margin-top: -10px;
            cursor: pointer;
            transition: .3s ease all;
        }

        .pass_show .ptxt:hover {
            color: #333333;
        }

        form span {
            color: #666;
        }
    </style>
</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="orange">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">
                <a href="https://proxiescenter.com" class="simple-text logo-mini">
                    PC
                </a>
                <a href="https://proxiescenter.com" class="simple-text logo-normal">
                    Proxies Center
                </a>
            </div>
            <div class="sidebar-wrapper" id="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/">
                            <i class="now-ui-icons education_atom"></i>
                            <p>Endpoints list</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/changepass">
                            <i class="now-ui-icons education_atom"></i>
                            <p>Change password</p>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="now-ui-icons education_atom"></i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel" id="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">Change Passwrod</a>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav">
                            <!--
                          <li class="nav-item">
                            <label>Plan Expires on 9/9/2019</label>
                          </li>
                          &nbsp;&nbsp;&nbsp; -->
                            <li class="nav-item">
                                <label id="usagelabel"></label>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title"></h5>
                            </div>
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                                    {% if messages %} {% for category, message in messages %}
                                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <!-- <strong>Title</strong> -->{{ message }}
                                    </div>
                                    {% endfor %} {% endif %} {% endwith %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <form action="{{ url_for('changepass') }}" method="POST">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input type="password" class="form-control" name="oldpassword" id="oldpassword" placeholder="Old Password" autocomplete="off">
                                                        <span id="8charold" style="color:#FF0004;"> 8 Characters Long</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input type="password" class="form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
                                                        <span id="8char" style="color:#FF0004;"> 8 Characters Long</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input type="password" class="form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
                                                        <span id="pwmatch" style="color:#FF0004;">Passwords Match</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" style="height:50px" id="changge" class="btn btn-primary" onclick="check(this.form)">Create</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!--/col-sm-6-->
                                </div>
                                <!--/row-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">

                </div>
            </footer>

        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="{{ url_for('static',filename='js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
    <!--  Google Maps Plugin    -->
    <!-- Chart JS -->
    <script src="{{ url_for('static',filename='js/plugins/chartjs.min.js') }}"></script>
    <!--  Notifications Plugin    -->
    <script src="{{ url_for('static',filename='js/plugins/bootstrap-notify.js') }}"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{{ url_for('static',filename='js/now-ui-dashboard.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
         (function(){
            function newcall(){
                $.ajax({
                    type: 'GET',
                    // Make sure to change the port number to
                    // where you have the employee service
                    // running on your local machine
                    url: 'http://127.0.0.1:5000/getstats',
                    contentType: "application/json",
                    dataType: 'json',
                    crossDomain: true,
                    // Specify the authentication header
                    // btoa() method encodes a string to Base64
                    
                    success: function (data) {
                        $("#usagelabel").text("Usage "+data.traffic+"GB"+"/"+data.trafficlimit+"GB")
                        console.log(data)
                    },
                    complete: function (jqXHR) {
                        if (jqXHR.status == '401') {
                           console.log("Errrrrororor")
                        }
                    }
                });
            }
            pollInterval=setInterval(function(){
                newcall()
            }, 120000);

            newcall()
        })();
    $("#changge").attr("disabled", true);
    $("#8char").hide();
    $("#pwmatch").hide();
    $("#8charold").hide();
        $("input[type=password]").keyup(function() {
            var ucase = new RegExp("[A-Z]+");
            var lcase = new RegExp("[a-z]+");
            var num = new RegExp("[0-9]+");

            if ($("#password1").val().length >= 8) {
                $("#8char").hide();
            } else {
                $("#8char").show();
            }

            if ($("#oldpassword").val().length >= 8) {
                $("#8charold").hide();
            } else {
                $("#8charold").show();
            }
            if(($("#password1").val() == $("#password2").val()) && ($("#oldpassword").val().length >= 8))
            {
              $("#changge").attr("disabled", false);
            }
            else
            {
              $("#changge").attr("disabled", true);
            }

            if ($("#password1").val() == $("#password2").val()) {
                $("#pwmatch").hide();

            } else {
                $("#pwmatch").show();
            }
        });
    </script>
</body>

</html>