<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='img/apple-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='img/favicon.png') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Proxies Center
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Files -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static',filename='css/now-ui-dashboard.css') }}" rel="stylesheet" />

</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="orange">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">
                <a href="https://proxiescenter.com" class="simple-text logo-mini">
                    PC
                </a>
                <a href="https://proxiescenter.com" class="simple-text logo-normal">
                    Proxies Center
                </a>
            </div>
            <div class="sidebar-wrapper" id="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href="/">
                            <i class="now-ui-icons education_atom"></i>
                            <p>Endpoints list</p>
                        </a>
                    </li>
                    <li>
                        <a href="/changepass">
                            <i class="now-ui-icons education_atom"></i>
                            <p>Change password</p>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="now-ui-icons education_atom"></i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel" id="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">Create Endpoints</a>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav">
                            <!--
                          <li class="nav-item">
                            <label>Plan Expires on 9/9/2019</label>
                          </li>
                          &nbsp;&nbsp;&nbsp; -->
                            <li class="nav-item">
                                <label id="usagelabel"></label>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"> Simple Table</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Proxy
                                            </th>
                                            <th>
                                                Location
                                            </th>
                                        </thead>
                                        <tbody>
                                        {% for row in proxys %}
                                            <tr>
                                                <td>{{row.proxy}}</td>
                                                <td>{{row.location}}</td>
                                            </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">

                </div>
            </footer>

        </div>
    </div>

    <script language="javascript">
        function check(form) /*function to check userid & password*/ {

            $.ajax({
                url: "http://127.0.0.1:5000/createproxy",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({
                    type: form.type.value,
                    location: form.location.value
                }),
                contentType: "application/json",
                cache: false,
                success: function(data) {
                    console.log(data);
                    $('#myTable tr:last').after('<tr><td>' + data.hostname + ':' + data.port_range + '</td><td>' + data.location + '</td></tr>');

                    console.log('process sucess');
                },

                error: function() {
                    console.log('process error');
                },

            });

        }
    </script>
    <!--   Core JS Files   -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="{{ url_for('static',filename='js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
    <!--  Google Maps Plugin    -->
    <!-- Chart JS -->
    <script src="{{ url_for('static',filename='js/plugins/chartjs.min.js') }}"></script>
    <!--  Notifications Plugin    -->
    <script src="{{ url_for('static',filename='js/plugins/bootstrap-notify.js') }}"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{{ url_for('static',filename='js/now-ui-dashboard.min.js') }}" type="text/javascript"></script>

    <script>
       (function(){
            function newcall(){
                $.ajax({
                    type: 'GET',
                    // Make sure to change the port number to
                    // where you have the employee service
                    // running on your local machine
                    url: 'http://127.0.0.1:5000/getstats',
                    contentType: "application/json",
                    dataType: 'json',
                    crossDomain: true,
                    // Specify the authentication header
                    // btoa() method encodes a string to Base64
                    
                    success: function (data) {
                        $("#usagelabel").text("Usage "+data.traffic+"GB"+"/"+data.trafficlimit+"GB")
                        console.log(data)
                    },
                    complete: function (jqXHR) {
                        if (jqXHR.status == '401') {
                           console.log("Errrrrororor")
                        }
                    }
                });
            }
            pollInterval=setInterval(function(){
                newcall()
            }, 120000);

            newcall()
        })();
    </script>
</body>

</html>