<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='img/apple-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='img/favicon.png') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Proxies Center
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static',filename='css/now-ui-dashboard.css') }}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{{ url_for('static',filename='demo/demo.css') }}" rel="stylesheet" />
    <style type="text/css">
        body {
            color: #404E67;
            background: #F5F7FA;
            font-family: 'Open Sans', sans-serif;
        }

        .table-wrapper {
            width: 700px;
            margin: 30px auto;
            background: #fff;
            padding: 20px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        }

        .table-title {
            padding-bottom: 10px;
            margin: 0 0 10px;
        }

        .table-title h2 {
            margin: 6px 0 0;
            font-size: 22px;
        }

        .table-title .add-new {
            float: right;
            height: 30px;
            font-weight: bold;
            font-size: 12px;
            text-shadow: none;
            min-width: 100px;
            border-radius: 50px;
            line-height: 13px;
        }

        .table-title .add-new i {
            margin-right: 4px;
        }

        table.table {
            table-layout: fixed;
        }

        table.table tr th,
        table.table tr td {
            border-color: #e9e9e9;
        }

        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }

        table.table th:last-child {
            width: 100px;
        }

        table.table td a {
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
            min-width: 24px;
        }

        table.table td a.add {
            color: #27C46B;
        }

        table.table td a.edit {
            color: #FFC107;
        }

        table.table td a.delete {
            color: #E34724;
        }

        table.table td i {
            font-size: 19px;
        }

        table.table td a.add i {
            font-size: 24px;
            margin-right: -1px;
            position: relative;
            top: 3px;
        }

        table.table .form-control {
            height: 32px;
            line-height: 32px;
            box-shadow: none;
            border-radius: 2px;
        }

        table.table .form-control.error {
            border-color: #f50000;
        }

        table.table td .add {
            display: none;
        }
    </style>
</head>

<body class="">

    <div class="wrapper ">
        <div class="sidebar" data-color="orange">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">
                <a href="https://proxiescenter.com" class="simple-text logo-mini">
                    PC
                </a>
                <a href="https://proxiescenter.com" class="simple-text logo-normal">
                    Proxies Center
                </a>
            </div>
            <div class="sidebar-wrapper" id="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href="/">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>Create User</p>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="now-ui-icons ui-1_lock-circle-open"></i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel" id="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">Create User</a>
                    </div>
                </div>
            </nav>
            <div class="panel-header panel-header-sm">

            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="card-header">
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h2><b></b></h2></div>
                                        <div class="col-sm-4">
                                            <button type="button" data-target="#adduser" data-toggle="modal" class="btn btn-info add-new"><i class="fa fa-plus"></i>Add New</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                                    {% if messages %} {% for category, message in messages %}
                                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <!-- <strong>Title</strong> -->{{ message }}
                                    </div>
                                    {% endfor %} {% endif %} {% endwith %}
                                    <table class="table table-bordered" id="usertable">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>User Name</th>
                                                <th>Traffic</th>
                                                <th>Traffic Limit</th>
                                                <th>Created At</th>
                                                <th>Life time</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in users %}
                                            <tr>
                                                <td>{{row.id}}</td>
                                                <td>{{row.username}}</td>
                                                <td>{{traffic[loop.index-1].traffic}}</td>
                                                <td>{{row.traffic_limit}}</td>
                                                <td>{{row.created_at}}</td>
                                                <td>{{row.lifetime}}</td>
                                                <td>
                                                    <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                                    <a class="edit" title="Edit" data-target="#editusersModal" data-toggle="modal"><i class="material-icons" >&#xE254;</i></a>
                                                    <a data-target="#deleteEmployeeModal" class="delete" title="Delete" data-toggle="modal"><i class="material-icons">&#xE872;</i></a>
                                                </td>
                                            </tr>
                                            <!-- Edit Modal HTML -->
                                            <div id="editusersModal" class="modal fade">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form action="{{ url_for('updateusers') }}" method="POST">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Edit User</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <label>Password</label>
                                                                    <input type="hidden" name="id" VALUE="{{row.id}}">
                                                                     <input type="hidden" name="username" VALUE="{{row.username}}">
                                                                    <input type="password" name="password" class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Traffic</label>
                                                                    <input type="number" name="traffic_limit" class="form-control" min=0 VALUE="{{row.traffic_limit}}" required>
                                                                </div>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                                                <button class="btn btn-info" type="submit">Update</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Delete Modal HTML -->
                                            <div id="deleteEmployeeModal" class="modal fade">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form action="{{ url_for('deletesubuser') }}" method="POST">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Delete Employee</h4>
                                                                <input type="hidden" name="id" VALUE="{{row.id}}">
                                                                <input type="hidden" name="username" VALUE="{{row.username}}">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Are you sure you want to delete these Records?</p>
                                                                <p class="text-warning"><small>This action cannot be undone.</small></p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                                                <input type="submit" class="btn btn-danger" value="Delete">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Edit Modal HTML -->
            <div id="adduser" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="{{ url_for('createuser') }}" method="POST">
                            <div class="modal-header">
                                <h4 class="modal-title">Create User</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>User Name</label>
                                    <input type="name" class="form-control" placeholder="User Name" name="username" required>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                                </div>
                                <div class="form-group">
                                    <label>Traffic Limit</label>
                                    <input type="number" class="form-control" min=0 name="traffic">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-success" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Edit Modal

            <footer class="footer">
                <div class="container-fluid">

                </div>
            </footer>

        </div>
    </div>

    <script language="javascript">
        function myFunction() {
            $('#editEmployeeModal').show();
        }
        fucntion editmodal() {
            console.log("fdfdfdf")
        }

        function check(form) /*function to check userid & password*/ {
            $.ajax({
                url: "http://127.0.0.1:5000/createuser",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({
                    email: form.email.value,
                    password: form.password.value,
                    traffic: form.traffic.value,
                    date: form.date.value
                }),
                contentType: "application/json",
                cache: false,
                success: function(data) {
                    console.log(data);
                    console.log(data.status)
                    if (data.status == "success") {
                        alert("User created successfully")
                    }
                    if (data.status == "fail") {
                        alert("Failed to create user")
                    }
                    if (data.status == "dupil") {
                        alert("User with this email already exist")

                    }
                    console.log('process sucess');
                },

                error: function() {
                    console.log('process error');
                },

            });

        }
    </script>
    <!--   Core JS Files   -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

            <script src="{{ url_for('static',filename='js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
            <!--  Google Maps Plugin    -->
            <!-- Chart JS -->
            <script src="{{ url_for('static',filename='js/plugins/chartjs.min.js') }}"></script>
            <!--  Notifications Plugin    -->
            <script src="{{ url_for('static',filename='js/plugins/bootstrap-notify.js') }}"></script>
            <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
            <script src="{{ url_for('static',filename='js/now-ui-dashboard.min.js') }}" type="text/javascript"></script>
            <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
            <script src="{{ url_for('static',filename='demo/demo.js') }}"></script>
            <script type="text/javascript">
                $(document).ready(function() {

                    $('#editEmployeeModal').on('shown.bs.modal', function() {
                        console.log('yeahhhhhh');
                    })

                    /* $.ajax({
                         url: "http://127.0.0.1:5000/users",
                         type: "POST",
                         dataType: "json",
                         contentType: "application/json",
                         cache: false,
                         success: function(data) {
                             console.log(data);

                             var i;
                             for (i = 0; i < data.name.length; i++) {
                                 console.log(data.name);
                                 $('#usertable tr:last').after('<tr><td>' + data.email[i] + '</td><td>' + data.name[i] + '</td><td>' + data.password[i] + '</td><td>1</td><td>' + data.date[i] + '</td>   <td><a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a> <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a><a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></td></tr>');

                             }
                             // $('#usertable tr:last').after('<tr><td>'+data.hostname+':'+data.port_range+'</td><td>'+data.location+'</td></tr>');

                             console.log('process sucess');
                         },

                         error: function() {
                             console.log('process error');
                         },

                     });*/

                });
            </script>
</body>

</html>